<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.cn.persistence.dao.YssAccountMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.yss.cn.persistence.entity.YssAccount">
                    <id column="id" property="id" />
                    <result column="role_id" property="roleId" />
                    <result column="user_name" property="userName" />
                    <result column="real_name" property="realName" />
                    <result column="password" property="password" />
                    <result column="mobile" property="mobile" />
                    <result column="remark" property="remark" />
                    <result column="is_delete" property="isDelete" />
                    <result column="update_time" property="updateTime" />
                    <result column="create_time" property="createTime" />
                    <result column="state" property="state" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="BaseColumnList">
            id, role_id, user_name, real_name, password, mobile, remark, is_delete, update_time, create_time, state
        </sql>

    <select id="queryYssAccountList" resultType="com.yss.cn.api.result.yssAccount.YssAccountResult">
        SELECT
            <include refid="BaseColumnList"/>
        FROM yss_account AS a
        WHERE 1=1 AND a.is_delete = 0
        <if test="updateTimeRangeStart != null and updateTimeRangeStart != ''">
            AND a.update_time >= #{updateTimeRangeStart}
        </if>
        <if test="updateTimeRangeEnd != null and updateTimeRangeEnd != ''">
            AND #{updateTimeRangeEnd} >= a.update_time
        </if>
    </select>
    <update id="deleteYssAccountListByListId">
        UPDATE yss_account AS a
        SET a.id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>
